.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/10;
  color: #fff;
  text-decoration: none;
  background: url(../../../images/train_travel_desktop.png) center/100%
    no-repeat;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}