.train-travel {
  margin-top: 90px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .train-travel {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .train-travel {
    padding: 0 48px;
  }
}
