.facts__title {
  max-width: 240px;
  margin: 64px 0 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .facts__title {
    max-width: initial;
    margin: 88px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .facts__title {
    margin: 92px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .facts__title {
    padding: 0 100px;
  }
}
